﻿<%@ Page Language="C#" MasterPageFile="~/Views/CR/meesterpagina.master" Inherits="System.Web.Mvc.ViewPage" %>
<asp:Content ID="headContent" ContentPlaceHolderID="head" runat="server">
</asp:Content>


<asp:Content ID="MainContentContent" ContentPlaceHolderID="MainContent" runat="server">

<h1>Dag (toekomstige) klant!</h1>
<form action="CR/Reserveer" method="Post">

    Geef hieronder uw klantnummer:<br>
    <input type="text" name="klantnummer" value=""><br>
    <input type="Submit" value="Volgend">
</form> 

<h2> Moet u nog registreren? </h2>

<form action="CR/Registreer" method="Post">
    <input type="Submit" value="Registreer!">
</form>
    

</asp:Content>

