﻿<%@ Page Language="C#" MasterPageFile="~/Views/CR/meesterpagina.master" Inherits="System.Web.Mvc.ViewPage" %>
<%@ Import Namespace="CR" %>
<asp:Content ID="headContent" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="MainContentContent" ContentPlaceHolderID="MainContent" runat="server">


<h1>Welkom! Uw klantnummer is <% Response.Write(Session["klantnummer"]); %>

		
</h1>
<h1> Maak uw reservatie: </h1>
<%-- EncodeURL voor wanneer cookies uitstaan --%>
<form action="Overzicht" method="Post">
    <table style="width:100%">
			
        <tr>
            <th>Pick-up Locatie</th>
            <th>Type</th>w
            <th>Drop-Off Locatie</th>
            <th>Pickup Date</th>
            <th>Aantal Dagen</th>

        </tr>
            <tr> 
                <td>
                   
                    <select name="locatie1">
                        <% 
						ArrayList locatielijst = ((Data)Session["Data"]).locatielijst;
						foreach (Locatie locatie in locatielijst){ 
							//Response.Write("Test");
							Response.Write("<option value=\""  + locatie.naam +  "\"> " + locatie.naam + "</option>");
						}
						%>
                    </select>
                <td>
                <td>
                    
                    <select name="voertuig">
                        <% 
						ArrayList wagenlijst = ((Data)Session["Data"]).wagenlijst;
						foreach (Wagen wagen in wagenlijst){ 
							//Response.Write("Test");
							Response.Write("<option value=\""  + wagen.naam +  "\"> " + wagen.naam + "</option>");
						}
						%>
                    </select>
                    
                </td>
                <td>
             
                    <select name="locatie2">
                        <% 
						foreach (Locatie locatie in locatielijst){ 
							//Response.Write("Test");
							Response.Write("<option value=\""  + locatie.naam +  "\"> " + locatie.naam + "</option>");
						}
						%>
                    </select>
                </td>
                <td>
                    <%-- simpel input veld --%>
                    <input name="pickupdate" >
                </td> 
                <td>
                    <%-- simpel input veld --%>
                    <input name="aantalDagen" >
                </td> 
            </tr>
            Kortingscode?
            <input name="kortingscode" >
            
    </table> 
    <input type="Submit" value="Reserveer!">
</form>


	
</asp:Content>
